@use "sass:map";

$main-color: #3EA1D1;
$text-color: #333;

$font-base: "Noto Serif JP", serif;
$font-weight-semiBold: 600;

$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  color: $text-color;
  font-size: 16px;
  font-family: $font-base;
  font-weight: 300;
  line-height: 170%;
}